<style>
    .centered {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
    .kaotable {
        height: 100%;
        display:table;
        vertical-align:middle;
    }
    .kaocell {
        display:table-cell;
        vertical-align:middle;
        width: 200px;
    }
</style>

<div class="centered kaotable">
    <div class="kaocell">
        <div style="width:200px;display:inline;">
            <p ng-repeat="result in results track by $index">{{result}}</p>
        </div>
        <input maxlength="{{game.wordLength}}" ng-model="guessString" ng-change="setGuess(guessString);" />
        <button ng-click="guess()">Guess</button>
    </div>
</div>